.container {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  min-width: 50%;
  margin-top: 5em;
}

.profile-pic {
  border-radius: 50%;
  border-style: solid;
  border: solid 2px black;
}
