/* .card-container{
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color:cornflowerblue;
    border-radius: 5px;
    max-width: 1024px;
    text-align: center;
    justify-content: center;
    
}



.logo {
    width: 200px;
    height: 200px;
} */