* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Jura', sans-serif;
}

.main {
  flex: 1;
  margin-top: 4em;
}

.box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
  filter: grayscale(100%);
}

.border2 {
  border: 8px solid cornflowerblue;
  border-top-color: #181818;
  border-left-color: #181818;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -2em;
  transition: transform 1s;
}

.border2:hover {
  transform: rotate(180deg);
}

.name {
  font-size: 2.5em;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin: auto 0;
  margin-top: 10px;
  margin-bottom: 35px;
}

.title {
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.summary {
  letter-spacing: 1.5px;
  font-size: 0.9em;
  max-width: 1024px;
  margin: 0;
}

.summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 200%;
}
.mainsummary-container {
  margin-bottom: 40px;
}

.projects {
  font-size: 2.5em;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-top: 60px;
  color: cornflowerblue;
}

.card-container {
  display: inline-flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.card-body {
  filter: grayscale(100%);

  transition: all 1s ease;
  width: 300px;
}

.card-body2 {
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 1s ease;
  width: 300px;
}

.card-body:hover {
  filter: grayscale(0%);
  transition: all 1s ease;
}

.card-body2:hover {
  filter: grayscale(0%);
  transition: all 1s ease;
}

.logo {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  background-color: #3f51b5;
  color: black;
  border-radius: 50%;
}

.logo2 {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  background-color: #eee;
  color: black;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.icon-row {
  font-size: 17px;
  margin: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  border-radius: 65px;
  box-shadow: 0px 0px 0.6#535358;
  padding: 11px 15px;
  background-color: #eee;
  transition: 0.5s;
  color: grey;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon:hover {
  color: #eee;
  background-color: cornflowerblue;
  box-shadow: 0 8px 8px 0 cornflowerblue, 0 6px 20px 0 cornflowerblue;
}

.message {
  margin-left: 15px;
  color: cornflowerblue;
}
